/*
light gray background, canvas takes up 2/3 of the screen, pre tag takes up the remaining 1/3 below the canvas
*/
body {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  width: 66vw;
  height: 66vw;
  border: 1px solid black;
}

pre {
  width: 66vw;
  height: 33vw;
  border: 1px solid black;
  overflow: scroll;
}
